APP_NAME=ANABOOL
APP_ENV=development
APP_DEBUG=true

API_V1_PREFIX=/api/v1

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

FRONTEND_ORIGIN=http://localhost:3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PASSWORD=

DATABASE_URL=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

GEMINI_API_KEY=

OSRM_BASE_URL=https://router.project-osrm.org

CNN_MODEL_PATH=../ai-model/cnn/models/anabool_cnn_model.h5
CNN_CONFIDENCE_THRESHOLD=0.70

ROBOFLOW_API_URL=https://serverless.roboflow.com
ROBOFLOW_API_KEY=
ROBOFLOW_MODEL_ID=pet-poop-classifier/1
